#fimfic-card.fimfic-card-full {
    position: relative;
	display: block;
    color: #555;
	font-family: 'Open Sans', Arial, Sans-serif;
    background: #fff;
    border: 1px solid #bebab5;
    border-left-color: #d6d2cb;
    border-top-color: #d6d2cb;
	border-radius: 5px;
    margin: 12px auto;
}

#fimfic-card.fimfic-card-full > .fimfic-inner > .fimfic-title {
    padding: 10px 0 4px;
    margin: 0 15px;
    border-bottom: 1px solid #bbb;
    display: block;
}

#fimfic-card.fimfic-card-full > .fimfic-inner > .fimfic-title > span[class^="fimfic-rating-"] {
    color: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    display: inline-block;
    padding: 2px 5px;
    line-height: 12px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 10px;
    vertical-align: 4px;
    margin-right: 3px;
}

#fimfic-card.fimfic-card-full > .fimfic-inner > .fimfic-title > .fimfic-rating-Everyone {
	background-color: #78ac40;
}

#fimfic-card.fimfic-card-full > .fimfic-inner > .fimfic-title > .fimfic-rating-Teen {
	background-color: #ffb400;
}

#fimfic-card.fimfic-card-full > .fimfic-inner > .fimfic-title > .fimfic-rating-Mature {
	background-color: #c03d2f;
}

#fimfic-card.fimfic-card-full > .fimfic-inner > .fimfic-title > .fimfic-title-text {
    display: inline; 
	font-size: 22px;
}

#fimfic-card.fimfic-card-full > .fimfic-inner > .fimfic-title > .fimfic-title-text > .fimfic-story-name {
    font-family: "Open Sans Condensed", Arial, Sans-serif;
    font-weight: 700;
    color: #333;
    text-decoration: none;
}

#fimfic-card.fimfic-card-full > .fimfic-inner > .fimfic-title > .fimfic-title-text > .fimfic-author {
    font-size: 12px;
    color: #aaa;
    font-weight: normal;
    display: inline-block;
}

#fimfic-card.fimfic-card-full > .fimfic-inner > .fimfic-title > .fimfic-title-text > .fimfic-author a {
    color: #888;
    font-weight: 600;
	text-decoration: none;
}

#fimfic-card.fimfic-card-full > .fimfic-inner > .fimfic-content {
    margin: 6px 15px 15px 15px;
}

#fimfic-card.fimfic-card-full > .fimfic-inner > .fimfic-content > .fimfic-story_tags {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 16px;
	border-bottom: 1px solid #ddd;
    padding-bottom: 6px;
    margin-bottom: 6px;
}

#fimfic-card.fimfic-card-full > .fimfic-inner > .fimfic-content > .fimfic-story_tags > li {
    display: inline-block;
    margin-right: 3px;
    border-radius: 4px;
    background-color: #4f91d6;
    border: 1px solid #437bb6; 
	color: #fff;
    padding: 1px 3px;
}

#fimfic-card.fimfic-card-full > .fimfic-inner > .fimfic-content > .fimfic-story_tags > li[title="Adventure"] {
	background-color: #7aca62; 
	border: 1px solid #68ac53;
}

#fimfic-card.fimfic-card-full > .fimfic-inner > .fimfic-content > .fimfic-story_tags > li[title="Romance"] { 
   background-color: #e261b8;
   border: 1px solid #c0529c;
}

#fimfic-card.fimfic-card-full > .fimfic-inner > .fimfic-content > .fimfic-story_tags > li[title="Comedy"] {
    background-color: #f59c00;
    border: 1px solid #d08500;
}

#fimfic-card.fimfic-card-full > .fimfic-inner > .fimfic-content > .fimfic-story_tags > li[title="Dark"],
#fimfic-card.fimfic-card-full > .fimfic-inner > .fimfic-content > .fimfic-story_tags > li[title="Horror"] {
	background-color: #b93737;
    border: 1px solid #9d2f2f;
}

#fimfic-card.fimfic-card-full > .fimfic-inner > .fimfic-content > .fimfic-story_tags > li[title="Drama"] {
    background-color: #895fd6;
    border: 1px solid #7451b6;
}

#fimfic-card.fimfic-card-full > .fimfic-inner > .fimfic-content > .fimfic-description > .fimfic-cover {
    margin-right: 15px;
    margin-bottom: 2px;
    display: block;
	width: auto;
    height: auto; 
	max-width: 25%;
	max-height: 250px;
    position: relative;
    float: left;
}

#fimfic-card.fimfic-card-full > .fimfic-inner > .fimfic-content > .fimfic-description > .fimfic-cover img {
	display: block;
    padding: 1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
}

#fimfic-card.fimfic-card-full > .fimfic-inner > .fimfic-content > .fimfic-description > .fimfic-description-text {
    word-break: break-word;
}

#fimfic-card.fimfic-card-full > .fimfic-inner > .fimfic-content > .fimfic-description > .fimfic-description-text > p {
	font-size: 16px;
	line-height: 24px;
    margin: 0;
}

#fimfic-card.fimfic-card-full > .fimfic-inner > .fimfic-content > .fimfic-description > .fimfic-description-text > #fimfic-expand-btn {
	cursor: pointer;
	margin-top: 8px;
    background: #555 !important;
    color: #FFFFFF;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    display: inline-block;
    padding: 4px 8px;
    text-align: center;
	text-transform: capitalize;
	text-decoration: none !important;
	font-family: 'Open Sans', Arial, Sans-serif;
    font-size: 14px;
    line-height: normal;
    font-weight: 600;
    text-shadow: -1px -1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 0 rgba(255,255,255,0.1) inset;
}

#fimfic-card.fimfic-card-full > .fimfic-inner > .fimfic-content > .fimfic-description > .fimfic-description-text > #fimfic-expand-btn:hover {
	text-decoration: none !important;
    background: #444 !important;
}

#fimfic-card.fimfic-card-full > .fimfic-inner > .fimfic-content > .fimfic-description > .fimfic-description-text > #fimfic-expand-btn.fulldesc-hidden:before {
	font-family: 'FontAwesome';
	font-weight: normal;
	content: '\f0fe';
	margin-right: 7px;
}

#fimfic-card.fimfic-card-full > .fimfic-inner > .fimfic-content > .fimfic-description > .fimfic-description-text > #fimfic-expand-btn.fulldesc-expanded:before {
	font-family: 'FontAwesome';
	font-weight: normal;
	content: '\f146';
	margin-right: 7px;
}